alias be="bundle exec"

mcd () {
  mkdir "$1" && cd "$1"
}

case "$OSTYPE" in
  darwin*)
    alias ls='ls -G'
  ;;
  linux*)
    alias ls='ls --color=auto'
  ;;
esac

[[ -f ~/.aliases.local ]] && . ~/.aliases.local
