[user]
	name = Kirill Gavrilov
[include]
	path = ~/.gitconfig.local
[includeIf "gitdir:~/.config/yadm"]
	path = ~/.config/git/config-personal
[includeIf "gitdir:~/Documents/projects"]
	path = ~/.config/git/config-personal
